@font-face {
    font-family: 'milky';
    src: url(./fontes/MilkyNice.otf),url(./fontes/MilkyNice.ttf);
}

h1{
    font-family:'milky', 'Courier New', Courier, monospace ;
    font-weight: 500
    ;
}